body {
	font-family: system-ui;
	/* background: url("img/background.jpeg"); */
	background-color: #fff;
	background-size: 100%;
	text-align: left;
	font-size: 1em;
}

img {
	max-width: 100%;
	display: block;
}

#splash {
	position: absolute;
	top:0%;
	left: 0%;
	width: 100%;
	height: 100vh;
	z-index: 999;
	background:#333;
	text-align:center;
	color:#fff;
}

#splash_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#splash_logo img {
	width:100px;
}

.fadeUp{
	animation-name: fadeUpAnime;
	animation-duration:0.5s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes fadeUpAnime{
	from {
	opacity: 0;
	transform: translateY(100px);
	}

	to {
	opacity: 1;
	transform: translateY(0);
	}
}

#logo {
	height: 8%;
	position: absolute;
	left: 5%;
	padding: auto;
	margin: auto;
	top: 2%;
}

#textlogo {
	height: 5%;
	position: absolute;
	left: 11%;
	padding: auto;
	margin: auto;
	top: 3.5%;
}

#DigitalArchive {
	color: #abb1b5;
	font-family: 'Rajdhani', sans-serif;
	top: 2%;
	bottom: 95%;
	left: 40%;
	right: 45%;
	font-size: 160%;
	position: absolute;
	padding: auto;
	margin: auto;
}

#fa img{
	position: absolute;
	z-index: 1;
	width: 3%;
	left: 87%;
	right:10%;
	top: 3%;
	bottom:97%;
}

#m img{
	position: absolute;
	z-index: 1;
	width: 2.6%;
	left: 92%;
	right:8%;
	top: 3.5%;
	bottom:97%;
	opacity: 0.5;
}

iframe {
	position: absolute;
	left: 3%;
	top: 10%;
	margin: 1%;
	width: 92%;
	height: 85%;
	border: none;
	border-radius: 5px;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
	max-width: 100%;
	display: block;
}

#ueno{
	position: absolute;
	padding: auto;
	top: 46%;
	bottom: 50%;
	left: 75%;
	right: 15%;
	margin: auto;
}

#ueno button {
	padding: 0.5em 1em;
	font-size: 90%;
	color: #6c9bd2;
	font-weight: bold;
	background-color: #ffffff;
	border: none;
	border-radius: 10%;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

#ueno button:hover {
	background-color: #6c9bd2;
	color: #fff;
	transform: translateY(-7px);
}

#toride{
	position: absolute;
	padding: auto;
	top: 46%;
	bottom: 50%;
	left: 85%;
	right: 5%;
	margin: auto;
}

#toride button {
	padding: 0.5em 1em;
	font-size: 0.9em;
	background-color: #fff;
	color: #89c997;
	font-weight: bold;
	border: none;
	border-radius: 10%;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}
#toride button:hover {
	background-color: #89c997;
	color: #fff;
	transform: translateY(-7px);
}

#mapframe1 img {
	position: absolute;
	padding: auto;
	top:54%;
	bottom: 9%;
	left:73.5%;
	right: 26.5%;
	margin: auto;
	width: 16%;
	z-index: 1;
}

#ueno-contents img:hover {
	transform: scale(1.2,1.2);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
}

#contents1 img {
	position: absolute;
	z-index: 2;
	width: 5.5%;
	left: 82.5%;
	right: 17.5;
	top: 57%;
	bottom: 43%;;
}

#contents2 img {
	position: absolute;
	z-index: 2;
	width: 4.5%;
	left: 78%;
	right: 22%;
	top: 61%;
	bottom: 39%;
}

#contents3 img {
	position: absolute;
	z-index: 2;
	width: 5.5%;
	left: 80%;
	right: 20%;
	top: 66%;
	bottom: 34%;
}

#contents4 img {
	position: absolute;
	z-index: 2;
	width: 5%;
	left: 76.5%;
	right: 23.5%;
	top: 70%;
	bottom: 30%;
}

#contents5 img {
	position: absolute;
	z-index: 2;
	width: 2.5%;
	left: 85.8%;
	right: 14.2;
	top: 67.2%;
	bottom: 32.8%;
}

#contents6 img {
	position: absolute;
	z-index: 2;
	width: 2.5%;
	left: 83%;
	right: 17%;
	top: 74%;
	bottom: 26%;
}

#contents7 img {
	position: absolute;
	z-index: 2;
	width: 5%;
	left: 79.5%;
	right: 20.5%;
	top: 79%;
	bottom: 21%;
}

#contents8 img {
	position: absolute;
	z-index: 2;
	width: 2.5%;
	left: 84%;
	right: 16%;
	top: 80%;
	bottom: 20%;
}

#contents9 img {
	position: absolute;
	z-index: 2;
	width: 0.9%;
	left: 87%;
	right: 13%;
	top: 79.5%;
	bottom: 20.5%;
}

#mapframe2 img {
	position: absolute;
	padding: 5px;
	top:30em;
	left:62em;
	margin: auto;
	width: 18em;
}

#contents11 img {
	position: absolute;
	z-index: 2;
	width: 4%;
	left: 73em;
	top: 38em;
}

#contents11 img:hover {
	transform: scale(1.2,1.2);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
}

#detail1 img{
	position: absolute;
	padding: 3px;
	top:28em;
	left:63em;
	margin: auto;
	width: 16.5em;
}

#part1 img{
	position: absolute;
	padding: 3px;
	top:28em;
	left:63em;
	margin: auto;
	width: 16.5em;
}

#detail1_contents1 img{
	position: absolute;
	z-index: 2;
	width: 3%;
	left: 75em;
	top: 34em;
}

#detail1_contents1 img:hover {
	transform: scale(1.2,1.2);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
}

#detail1_contents2 img{
	position: absolute;
	z-index: 2;
	width: 3%;
	left: 65em;
	top: 32em;
}

#detail1_contents2 img:hover {
	transform: scale(1.2,1.2);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
}

#part1_contents1 img{
	position: absolute;
	z-index: 2;
	width: 3%;
	left: 65em;
	top: 32em;
}

#part1_contents1 img:hover {
	transform: scale(1.2,1.2);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
}

#return1 img{
	position: absolute;
	z-index: 2;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	width: 2.5%;
	top:77%;
	bottom: 23%;
	left:91%;
	right: 9%;
}

#return1 img:hover {
	transform: scale(1.5,1.5);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
	opacity: 1;
}

#return11 img{
	position: absolute;
	z-index: 2;
	width: 2.5%;
	left: 78em;
	top: 38em;
	/* opacity: 0.5; */
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#return11 img:hover {
	transform: scale(1.5,1.5);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
	opacity: 1;
}

#detail2 img{
	position: absolute;
	padding: 3px;
	top:28em;
	left:63em;
	margin: auto;
	width: 16.5em;
}

#part2 img{
	position: absolute;
	padding: 3px;
	top:28em;
	left:63em;
	margin: auto;
	width: 16.5em;
}

#detail2_contents1 img{
	position: absolute;
	z-index: 2;
	width: 3%;
	left: 75em;
	top: 34em;
}

#detail2_contents1 img:hover {
	transform: scale(1.2,1.2);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
}

#detail2_contents2 img{
	position: absolute;
	z-index: 2;
	width: 3%;
	left: 65em;
	top: 32em;
}

#detail2_contents2 img:hover {
	transform: scale(1.2,1.2);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
}

#part2_contents1 img{
	position: absolute;
	z-index: 2;
	width: 3%;
	left: 65em;
	top: 32em;
}

#part2_contents1 img:hover {
	transform: scale(1.2,1.2);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
}

#return2 img{
	position: absolute;
	z-index: 2;
	width: 2.5%;
	left: 78em;
	top: 38em;
	/* opacity: 0.5; */
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#return2 img:hover {
	transform: scale(1.5,1.5);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
	opacity: 1;
}

#return22 img{
	position: absolute;
	z-index: 2;
	width: 2.5%;
	left: 78em;
	top: 38em;
	/* opacity: 0.5; */
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#return22 img:hover {
	transform: scale(1.5,1.5);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
	opacity: 1;
}

#caption, #caption-detail{
	position: absolute;
	z-index: 2;
	left:74%;
	top: 78%;
	writing-mode: vertical-rl;
	font-family: 'Rajdhani', sans-serif;
	padding: auto;
	margin: auto;
	font-size: 140%;
	color: #fff;
	font-weight: bold;
	/* background-color: #fff; */
	/* border: none; */
	border-radius: 5%;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.splashbg1, .splashbg2{
	display: none;
}

body.appear .splashbg1, body.appear .splashbg2{
	display:block;
}

body.appear .splashbg1{
	animation-name:PageAnime;
	animation-duration:0.6s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
	position:fixed;
	z-index: 999;
	width: 100%;
	height: 100vh;
	top: 0;
	left:50%;
	transform: scaleX(1);
	background-color: #333;
}

@keyframes PageAnime{
	0% {
	transform-origin:left;
	transform:scaleX(1);
	}
	50% {
	transform-origin:right;
	}
	100% {
	transform-origin:right;
	transform:scaleX(0);
	}
}

body.appear .splashbg2{
	animation-name:PageAnime2;
	animation-duration:0.6s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
	position:fixed;
	z-index: 999;
	width: 100%;
	height: 100vh;
	top: 0;
	right:50%;
	transform: scaleX(1);
	background-color: #333;
}

@keyframes PageAnime2{
	0% {
	transform-origin:right;
	transform:scaleX(1);
	}

	50% {
	transform-origin:left;
	}
	100% {
	transform-origin:left;
	transform:scaleX(0);
	}
}

#map-close img{
	position: absolute;
	width: 3%;
	top:84%;
	bottom: 16%;
	left:91%;
	right: 9%;
}

#map-close img:hover {
	transform: scale(1.5,1.5);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
}

#map-open img{
	position: absolute;
	width: 3%;
	top:84%;
	bottom: 16%;
	left:91%;
	right: 9%;
}

#map-open img:hover {
	transform: scale(1.5,1.5);
	transition: all 0.5s 0s ease;
	filter: saturate(110%);
	cursor: pointer;
	z-index: 3;
}
